<div class="card">
    <div class="card-body">
        <form action="/users/update?id={{data.user._id}}" method="post">
            <div class="mb-3">
                <label class="form-label" for="basic-icon-default-email">Email</label>
                <div class="input-group input-group-merge">
                    <span class="input-group-text"><i class="bx bx-envelope"></i></span>
                    <input type="text" id="basic-icon-default-email" name="email" value="{{data.user.email}}"
                        class="form-control" placeholder="john.doe" aria-label="john.doe"
                        aria-describedby="basic-icon-default-email2" />
                </div>
            </div>
            <div class="form-text">You can use letters, numbers & periods</div>
            <div class="mb-3">
                <label class="form-label" for="basic-icon-default-fullname">Full Name</label>
                <div class="input-group input-group-merge">
                    <span id="basic-icon-default-fullname2" class="input-group-text"><i class="bx bx-user"></i></span>
                    <input type="text" class="form-control" name="name" id="basic-icon-default-fullname"
                        value="{{data.user.name}}" placeholder="John Doe" aria-label="John Doe"
                        aria-describedby="basic-icon-default-fullname2">
                </div>
            </div>
            <div class="mb-3">
                <label for="defaultSelect" class="form-label">Chọn Role</label>
                <select id="defaultSelect" name="id_role" class="form-select">
                    {{#each data.role}}
                    <option value="{{ this._id }}" {{#selected ./data.user.role._id this._id "selected" }}
                        {{/selected}}>
                        {{this.name}}</option>
                    {{/each }}
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label" for="basic-icon-default-phone">Phone No</label>
                <div class="input-group input-group-merge">
                    <span id="basic-icon-default-phone2" class="input-group-text"><i class="bx bx-phone"></i></span>
                    <input type="text" id="basic-icon-default-phone" name="phone" value="{{ data.user.phone }}"
                        class="form-control phone-mask" placeholder="658 799 8941" aria-label="658 799 8941"
                        aria-describedby="basic-icon-default-phone2" />
                </div>
            </div>
            <div class="mb-3">
                <label for="defaultSelect" class="form-label">Available</label>
                <select id="defaultSelect" name="available" class="form-select">

                    <option value="true" {{#selected ./data.user.available true "selected" }} {{/selected}}>Available
                    </option>
                    <option value="false" {{#selected ./data.user.available false "selected" }} {{/selected}}>
                        Unavailable
                    </option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">update</button>
        </form>
    </div>
</div>